.container-full {
    width: 1600px fixed;
    height: 965px fixed;
    background-color: #F8FAFC;
    text-align: center;
    padding-top: 100px;
}

.title {
    width: 636px;
    height: 62px;
    color: #090914;
    /* font-family: Poppins; */
    font-weight: 600;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: -2px;
    text-align: center;
    justify-self: center;
    margin-bottom: 50px;
}

.login-form {
    width: 533px;
    height: 484px;
    justify-self: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    border-width: 1px solid #E4E4E7;
    justify-self: center;
}

.login-input {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.login-input label {
    width: 100px;
    height: 30px;
    /* font-family: Poppins; */
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: start;
    margin-top: 40px;
}

.login-input input {
    width: 472.43902587890625px;
    height: 65px; 
    border-width: 1px;
    border-radius: 9px;
    padding: 16px;
    gap: 10px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E7;
}

.login-input ::placeholder {
    text-align: center;
    height: 26px;
    gap: 9px;
}

.login-form button {
    width: 472px;
    height: 65px;
    border-radius: 9px;
    padding: 16px;
    gap: 10px;
    background-color: #0D6EFD;
    color: white;
    border: none;
    margin-top: 50px;
}

.login-form p {
    width: 444px;
    height: 25px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    justify-self: center;
    margin-top: 30px;
    color: #71717A;
}

.login-form a {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #0D6EFD;
}

.error-message {
    color: red;
    font-size: 14px;
    height: 14px;
    margin-top: 5px;
    display: block;
    text-align: left;
    padding-left: 10px;
}


